<h1>Our Service Categories</h1>

<div class="container mt-2 mb-2">
    <div class="row">
        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column mb-2 pb-2" *ngFor="let category of wCategories">
            <h6 class="card-title">{{category.CategoryName}}</h6>
            <img (click)="seeServices(category.CatId, category.CategoryName)" src="{{category.Image}}" alt={{category.CategoryName}}
                class="mt-auto">
        </div>
    </div>
</div>