<h1>Marriot Beach Resort and Spa</h1>

<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
        <p class="m-4">Come to us with excitement and leave with satisfaction. We want to bring you a heavenly experience.

            We use natural, organic products from famous trusted brands Gentle on your nails and skin. Our technicians
            are
            well-trained with certificates Deliver you exquisite designs and soothing experience.

            Our space is regularly disinfected, and our equipment is sterilized after every use
            Key to your peace in mind. And our price is surprisingly reasonable

            One Experience is Worth a Thousand Words. Come to Marriot Beach Resort and Spa, and you will keep coming
            back for more!
        </p>
        <div class="container mt-2 mb-2">
            <h2>Reviews</h2>
            <div class="row justify-content-center">
                <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column mb-2 pb-2" *ngFor="let review of wReviews">
                    <h6 class="card-title">{{review.reviewer}}</h6>
                    <p>Date: {{review.date}}</p>
                    <p>{{review.comment}}</p>
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md">
        <img class="p-2 img-fluid max-width: 100%"src="assets/images/marriotbeachresort.jpg" alt="marriotbeachresort">
    </div>
</div>