<h1>{{this.catName}}</h1>
<div class="container mt-2 mb-2">
    <div class="row">
        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column mb-2 pb-2 " *ngFor="let service of wServices">
            <h6 class="card-title">{{service.ServiceName}}</h6>
            <img src="{{service.Image}}" alt={{service.Description}} class="mt-auto">
            <button type="button" class="btn btn-primary pt-2 mt-2" (click)="openModal(service.ServiceID)">View
                Details</button>
            <div class="modal" tabindex="-1" [id]="service.ServiceID">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{service.ServiceName}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{service.Description}}</p>
                            <p>{{service.Minutes}} Minutes</p>
                            <p>Price: ${{service.Price}}</p>
                        </div>
                        <div [ngStyle]="{'visibility':isDivVisible ? 'visible' : 'hidden'}" class="modal-body">
                            <h6>Fill out the form below</h6>
                            <p>We will contact you to verify your appointment</p>
                            <label for="userName">Name: </label>
                            <br>
                            <input type="text" id="userName" [(ngModel)]="userName">
                            <br>
                            <label for="phone">Phone Number: </label>
                            <br>
                            <input type="tel" name="tel" id="phone" cols="40" rows="5" [(ngModel)]="phoneNumber">
                            <br>
                            <label for="date">Date: </label>
                            <br>
                            <input type="date" name="date" id="date" cols="40" rows="5" [(ngModel)]="resDate">
                            <br>
                            <label for="time">Time: </label>
                            <br>
                            <input type="text" name="time" id="time" cols="40" rows="5" [(ngModel)]="resTime">

                        </div>
                        <div class="modal-footer">
                            <button *ngIf="isDivVisible==false " type="button" class="btn btn-primary" 
                                (click)="makeReservation()">Make a
                                Reservation</button>
                            <button *ngIf="isDivVisible==true" type="button" class="btn btn-primary" 
                                (click)="submitReservation()">Book It!</button>

                            <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Make a Reservation</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>