<header>

  <!-- <nav class="navbar bg-primary navbar-expand-md text-dark"> -->
  <nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/images/spaMenu.jpg" alt="Home Icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/reviews">Reviews</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <address>
    Visit us! <br>
    Hawaii Mariott Beach Resort <br>
    Detroit, Michigan 48316
</address>
<!-- Links -->
<div>
    Written by <a href="mailto:mark.galasso@centene.com">Mark Galasso</a><br>
</div>
<div>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#" class="pl-5"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
</div>
</footer>