<h1>Reviews</h1>
<div class="container mt-2 mb-2">
    <div class="row">
        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column m-2 pb-2" *ngFor="let review of wReviews">
            <h6 class="card-title">{{review.reviewer}}</h6>
            <p>Date: {{review.date}}</p>
            <p>{{review.comment}}</p>
            
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="openModal()">Add a Review</button>
        
    </div>
</div>

<div class="modal" tabindex="-1" id="addReview">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="userName">User Name: </label>
                <br>
                <input type="text" id="userName" [(ngModel)]="userName">
                <br>
                <label for="comments" >Comments: </label>
                <br>
                <textarea name="Text1" id="comments" cols="40" rows="5" [(ngModel)]="userComments"></textarea>
                <!-- <input type="text" id="comments" cols="40" rows="5"> -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addReview()">Add Review</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Review</button> -->
            </div>
        </div>
    </div>
</div>